*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: end; */
    height: 100vh;
}

.combobox__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #373434;
    border-radius: 3px;
}

.combobox__content {
    transition: visibility 0.3s ease-in-out;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #373434;
    border-radius: 3px;
    width: 200px;
}

.combobox__item {
    cursor: pointer;
    padding: .25rem .5rem;
}

.combobox__item:hover {
    background-color: #373434;
    color: #fff;
}
