*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 20rem;
  height: 20rem;
  padding: 1.5rem;
}
.form-input {
  margin-bottom: 1rem;
  font-size: .75rem;
}
.form-input label {
  display: block;
  margin-bottom: .5rem;
}
.form-input input {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: 1px solid #000;
  outline: none;
}
.btn {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
  background: #000;
  font-size: 1rem;
}
.btn > .first {
  color: #fff;
}
.btn > .last {
  background: #faa100;
  border-radius: .25rem;
  padding: .125rem .25rem;
}
#result {
  padding: .5rem 0;
  line-height: 1.5;
  font-size: .75rem;
}
