* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
    width: 100%;
}
.flex {
    display: flex;
    flex-direction: row;
}
.flex-column {
    flex-direction: column !important;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.h-screen {
    height: 100vh;
}
.justify-center {
    justify-content: center !important;
}
.items-center {
    align-items: center !important;
}
.items {
    width: 100%;
    gap: 2;
    max-width: 64rem;
    justify-content: center;
    align-items: center;
}
.item {
    padding: 2rem;
    border: 1px solid #a3a3fd;
    background-color: #a3a3fd;
    max-width: 16rem;
    width: 100%;
    border-radius: 0.25rem;
    text-align: center;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.25rem;
}
.item + .item {
    margin-left: 8px;
}
.text-center {
    text-align: center;
}
