*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #1e1e1e;
}

th {
    padding: .25rem 0;
    width: 14.3%;
}

td {
    padding: .5rem;
    height: 6rem;
    position: relative;
}

.day-value {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .25rem;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 1.5;
}

.day-value.active {
    background-color: #ff0000;
    color: #fff;
}

.blank-day {
    background-color: #f1f1f1;
}
