.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.date-picker {
    padding: 10px;
    font-size: 16px;
}

.date-picker__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #373434;
    border-radius: 3px;
}
.date-picker__input:focus {
    outline: 1px solid #252222;
    border-color: #252222;
}

.date-picker__calendar {
    display: block;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #373434;
    border-radius: 3px;
    width: 280px;
    padding: 10px;
}

.date-picker__calendar__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker__calendar table {
    width: 100%;
}

.date-picker__calendar table th > span,
.date-picker__calendar table td > span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.date-picker__calendar table td > span:hover {
    background-color: #252222;
    color: #fff;
}

.date-picker__calendar table td > span.active {
    background-color: #252222;
    color: #fff;
}

.date-picker__calendar__header__next,
.date-picker__calendar__header__prev {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: #252222;
    color: #fff;
    position: relative;
}

.date-picker__calendar__header__next:hover,
.date-picker__calendar__header__prev:hover {
    background-color: #373434;
}

.date-picker__calendar__header__next::before,
.date-picker__calendar__header__prev::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.date-picker__calendar__header__next::before {
    left: 45%;
    transform: translate(-45%, -50%) rotate(45deg);
}

.date-picker__calendar__header__prev::before {
    left: 55%;
    transform: translate(-55%, -50%) rotate(-135deg);
}

.date-picker__calendar__header__month {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-picker__calendar__header__month button {
    cursor: pointer;
    background-color: transparent;
    color: #252222;
    height: 32px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #373434;
    border-radius: 3px;
    font-size: 18px;
}

.date-picker__calendar__header__month button:hover {
    background-color: #e7e7e7;
}

.date-picker__calendar__header__month * + * {
    margin-left: .5rem;
}
